Plugins>CIRB>Prochiantz>mRNA Scope PV,"mRNA Scope PV (lif)",RNA_Scope_PV.mRNA_Scope_PV
Plugins>CIRB>Prochiantz>mRNA Scope PV,"mRNA PV (lif)",RNA_Scope_PV.mRNA_PV
Plugins>CIRB>Prochiantz>mRNA Scope PV,"IHC PV Otx2 & PNN (nd)",RNA_Scope_PV.IHC_PV_OTX2_PNN
Plugins>CIRB>Prochiantz>mRNA Scope PV,"IHC PV Tomato & PNN (nd)",RNA_Scope_PV.IHC_PV_Tomato_PNN
Plugins>CIRB>Prochiantz>mRNA Scope PV,"IHC PV PNN (lif)",RNA_Scope_PV.IHC_PV_PNN
Plugins>CIRB>Prochiantz>mRNA Scope PV,"IHC Otx2 PNN (lif)",RNA_Scope_PV.IHC_OTX2_PNN
Plugins>CIRB>Prochiantz>mRNA Scope PV,"IHC GFP PV & Tomato (nd)",RNA_Scope_PV.IHC_GFP_PV_Tomato
Plugins>CIRB>Prochiantz>mRNA Scope PV,"IHC PV Otx2 (lif)",RNA_Scope_PV.IHC_PV_OTX2
Plugins>CIRB>Prochiantz>mRNA Scope PV,"IHC PV (lif)",RNA_Scope_PV.IHC_PV