Plugins>CIRB>Prochiantz>mRNA Scope PV,"mRNA Scope PV",RNA_Scope_PV.mRNA_Scope_PV
Plugins>CIRB>Prochiantz>mRNA Scope PV,"mRNA PV",RNA_Scope_PV.mRNA_PV
Plugins>CIRB>Prochiantz>mRNA Scope PV,"IHC PV Otx2 & PNN",RNA_Scope_PV.IHC_PV_OTX2_PNN
Plugins>CIRB>Prochiantz>mRNA Scope PV,"IHC PV Tomato & PNN",RNA_Scope_PV.IHC_PV_Tomato_PNN
Plugins>CIRB>Prochiantz>mRNA Scope PV,"IHC PV PNN",RNA_Scope_PV.IHC_PV_PNN
Plugins>CIRB>Prochiantz>mRNA Scope PV,"IHC Otx2 PNN",RNA_Scope_PV.IHC_OTX2_PNN